asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
crispy-bootstrap5==2024.2
Django==5.0.4
django-crispy-forms==2.1
django-mssql-backend==2.8.1
idna==3.7
mercadopago==2.2.1
mssql-django==1.4.2
packaging==24.1
pillow==10.3.0
pyodbc==5.1.0
pytz==2024.1
requests==2.32.3
setuptools-git==1.2
setuptools-scm==8.1.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.2
gunicorn
