{% extends "admin/base_site.html" %}

{% block content %}
<h1>Confirmar Eliminación</h1>
<p>¿Estás seguro de que deseas eliminar todo el contenido de la carpeta MEDIA?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="custom-button">Confirmar Eliminación</button>
    <a href="{% url 'admin:index' %}" class="custom-button">Cancelar</a>
</form>

<style>
    .custom-button {
        background-color: #2f657a; 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px; 
        margin: 5px 2px; 
        cursor: pointer; 
    }

    .custom-button:hover {
        background-color: #181818; 
        color: white; 
    }
</style>

{% endblock %}