{% extends 'base.html' %}

{% block content %}
    <h1>Formulario de inscripción - Colonia invierno 2024</h1>
    <hr>
    <form method="post" id="elegir_alumno">
        {% csrf_token %}
    
        <div class="row justify-content-center">
            <div class="col-9 mb-3">
<h4>Selecciona un alumno del siguiente listado para comenzar</h4>

     <label for="alumno"></label>
            <select class="form-select" name="alumno" id="alumno">
                <option value="None">-- Seleccione un alumno --</option>
                {% for dato in datos %}
                    <!-- <option value="{{ dato.0 }}" {% if dato.0 == elegir_alumno %} selected {% endif %}>Alumno: {{ dato.2 }} {{ dato.3 }}</option> -->
                    <option value="{{ dato.0 }}">Alumno: {{ dato.2 }} {{ dato.3 }}</option>

                    {% endfor %}
            </select><br><br>
        </div>
        <button class="btn btn-outline-light mt-2 mb-5 mx-1 w-25" id="editar_alumno" type="submit"><b>Ir a editar alumno</b></button>

        </div>
    </form>

 {% endblock %}