{% extends "admin/base_site.html" %}

{% block content %}
    <br>
    <br>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{% url 'admin_download_media' %}" class="button" style="font-size: 18px; padding: 15px 30px;">DESCARGA DE CARPETA MEDIA</a>
    </div>
    <br>
    <br>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{% url 'admin_delete_media' %}" class="button" style="font-size: 18px; padding: 15px 30px;">ELIMINA CARPETA MEDIA</a>
    </div>
    <br>
    <br>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{% url 'listar_imagenes' %}" class="button" style="font-size: 18px; padding: 15px 30px;">LISTADO DE IMÁGENES</a>
    </div>
    <br>
    <br>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{% url 'consultar_archivos' %}" class="button" style="font-size: 18px; padding: 15px 30px;">CONSULTA DE ARCHIVOS</a>
    </div>
{% endblock %}
