{% extends 'base.html' %}

{% block content %}
<h2 class="titulo_ins_colonia">Seleccionar Alumno, Sucursal y Mes</h2>
<div class="d-flex justify-content-center mb-3 elegir_alumno">
   
<form id="selection-form" method="get" action="">
    <div class=" p-0">
    <label for="alumno"></label>
    <select class="form-select" name="alumno" id="alumno" onchange="submitForm()">
        <option value="">-- Seleccione un alumno --</option>
        {% for dato in datos %}
            <option value="{{ dato.0 }}" {% if dato.0 == seleccion_alumno %} selected {% endif %}>Alumno: {{ dato.2 }}  {{ dato.3 }}</option>
        {% endfor %}
    </select>
    </div>
    <br>

    <div class=" p-0">
    <label for="sucursal"></label>
    <select class="form-select " name="sucursal" id="sucursal" onchange="submitForm()">
        <option value="">-- Seleccione una sucursal --</option>
        {% for suc in sucursal %}
            <option value="{{ suc }}" {% if suc == seleccion_sucursal %} selected {% endif %}>{{ suc }}</option>
        {% endfor %}
    </select>
</div>
    <br>
    <div class="p-0 mb-3">
    <label for="mes"></label>
    <select class="form-select" name="mes" id="mes" onchange="submitForm()">
        <option value="">-- Seleccione un mes --</option>
        {% for m in mes %}
            <option value="{{ m }}" {% if m == seleccion_mes %} selected {% endif %}>{{ m }}</option>
        {% endfor %}
    </select>
</div>
<div class="p-0 mb-3">
    <label for="nivel_ed"></label>
    <select class="form-select" name="nivel_ed" id="nivel_ed" onchange="this.form.submit()">
        <option value="">-- Seleccione un nivel educativo --</option>
        {% for n in niveles %}
            <option value="{{ n }}" {% if n == nivel_ed %} selected {% endif %}>{{ n }}</option>
        {% endfor %}
    </select>
</div>
</form>

</div>
<div id="vacantes-container">
    {% if vacantes_disponibles %}
    {% for vacante in vacantes_disponibles %}
    <div class="vacante" 
         data-alumno="{{ seleccion_alumno }}" 
         data-sucursal="{{ seleccion_sucursal }}" 
         data-mes="{{ seleccion_mes }}" 
         data-turno="{{ vacante.turno }}" 
         data-semana="{{ vacante.semana }}"
         data-nivel = "{{ vacante.nivel_educativo }}"
         data-importe="0"
         data-reserva="21000"
         data-matricula="7500"
         data-nombres-apellidos="{{ nombre_ap }}"
         data-idvacante = "{{ vacante.id }}"
         
    >
        <span> {{ vacante }} </span>
    </div>
{% endfor %}

    {% else %}
        <p>No hay vacantes disponibles.</p>
    {% endif %}
    

      

      
</div>

<div class="card">
    <div class="card-body">
        <div id="datos-container">
            Reserva de vacante para: 
            
            {{  nombre_ap }} 
            

            <p>Vacantes seleccionadas:</p>
            <ul id="vacantes-seleccionadas"></ul>
            <p>Cantidad de selecciones: <span id="datos">0</span></p>
            
        </div>
    </div>
  </div>



  <script src="https://sdk.mercadopago.com/js/v2"></script>

  <div  id="wallet_container" data-preference-id="{{ preference_id }}"></div>
  
  <script>
    function actualizar_checkout(items) {
        fetch(`/mercadopago_checkout/`, {
            method: 'POST',
            body: JSON.stringify({ items: items })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById("wallet_container").innerHTML = "";
            
            const mp = new MercadoPago('APP_USR-f8608d44-1fab-4113-a576-9490d6b146ef', {
                locale: 'es-AR'
            });
            
            mp.bricks().create("wallet", "wallet_container", {
                initialization: {
                    preferenceId: data.preference_id,
                    redirectMode: "modal"
                }
            });
        });
    };

    document.addEventListener('DOMContentLoaded', function() {
        let vacanteIdCounter = 1;  // Initialize the ID counter

        const vacanteElements = document.querySelectorAll('.vacante');
        
        vacanteElements.forEach(element => {
            element.id = vacanteIdCounter++;  // Assign an incremental integer ID

            element.addEventListener('click', function() {
                if (this.classList.contains('seleccionado')) {
                    this.classList.remove('seleccionado');
                } else {
                    this.classList.add('seleccionado');
                }
                recuento();
            });
        });

        function recuento() {
            const seleccionados = document.querySelectorAll('.vacante.seleccionado').length;
            document.getElementById('datos').textContent = seleccionados;

            const vacantesSeleccionadas = document.querySelectorAll('.vacante.seleccionado');
            const listaVacantes = document.getElementById('vacantes-seleccionadas');
            listaVacantes.innerHTML = '';

            let totalImporte = 0;
            let totalReserva = 0;
            let totalMatricula = 0;

            let items = [];

            vacantesSeleccionadas.forEach(vacante => {
                const dni = vacante.getAttribute('dni');
                const nombres_apellidos = vacante.getAttribute('data-nombres-apellidos');
                const alumno = vacante.getAttribute('data-alumno');
                const sucursal = vacante.getAttribute('data-sucursal');
                const mes = vacante.getAttribute('data-mes');
                const turno = vacante.getAttribute('data-turno');
                const semana = vacante.getAttribute('data-semana');
                const importe = parseFloat(vacante.getAttribute('data-importe'));
                const reserva = parseFloat(vacante.getAttribute('data-reserva'));
                const matricula = parseFloat(vacante.getAttribute('data-matricula'));
                const vancante_id = vacante.getAttribute('data-idvacante');
                const nivel_ed = vacante.getAttribute('data-nivel');  
                 

                totalImporte = importe;
                totalReserva = reserva;
                totalMatricula = matricula;

                const li = document.createElement('li');

                items.push({
                    dni: dni,
                    nombres_apellidos: nombres_apellidos,
                    alumno: alumno,
                    sucursal: sucursal,
                    mes: mes,
                    turno: turno,
                    semana: semana,
                    matricula: matricula, 
                    reserva: reserva ,
                    vancante_id: vancante_id,
                    nivel_ed: nivel_ed
                });

                listaVacantes.appendChild(li);
            });

            actualizar_checkout(items);

            const total = totalImporte + totalReserva + totalMatricula;
            const totalLi = document.createElement('li');
            totalLi.innerHTML = `
                ------------------------------<br>
                2 Semanas Turno Completo | $150.000<br>
<br>
                2 Semanas Medio Turno | $102.000<br>
<br>
                1 Semana Turno Completo | $84.000<br>
<br>
                1 Semana Medio Turno | $60.000<br>
                        
                ------------------------------<br>
                Total Reserva: ${totalReserva}<br>
                Total Matricula: ${totalMatricula}<br>
                ------------------------------<br>
                Precio Total: ${total}<br>
                <input name="total_'pagar" type="hidden" value="${total}" />
            `;

            listaVacantes.appendChild(totalLi);
        }

        function submitForm() {
            document.getElementById('selection-form').submit();
        }
    });
</script>





<style>
    li::marker{
            color: white;
            font-weight: bold;
    }
    
    
    .vacante {
        
        background-color: rgb(207, 45, 240);
        cursor: pointer;
        margin-bottom: 10px;
        padding: 5px;
    }
    .seleccionado {
        background-color: rgb(32, 195, 97);
    }
    #datos {
        font-weight: bold;
    }
    #datos-container {
        margin-top: 20px;
    }
    #vacantes-container {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
{% endblock %}