{% extends "admin/base_site.html" %}
{% block content %}
<h1>Listado de Imágenes</h1>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <ol class="{{ message.tags }}">{{ message }}</ol>
        {% endfor %}
    </ul>
{% endif %}

{% for alumno_id, images in images_by_alumno.items %}
    <h2>Alumno: {{ alumno_id }}</h2>
    <ul>
        {% for image in images %}
        <ol>
            <img src="{{ image.url }}" alt="{{ image.name }}" style="max-width: 200px;">
            <div>
                <form method="post" action="{% url 'accept_image' image.name %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Aceptar</button>
                </form>
                <form method="post" action="{% url 'reject_image' image.name %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Rechazar</button>
                </form>
            </div>
        </ol>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
