{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <h1 class="text-center">Certificados</h1>
            <hr>
            <form method="post" enctype="multipart/form-data" id="upload_certificate" class="needs-validation" novalidate>
                {% csrf_token %}

                <div class="row justify-content-center">
                    <div class="col-md-6 mb-3">
                        <h4 class="text-center">¡Sube aqui tu documentacion!</h4>
                        <p>(Los formatos para la imagen son png, jpg, jpeg, webp y no deben superar 1MB)</p>
                        <br>
                        <div class="form-group">
                            <label for="medical_certificate">Apto Médico:</label>
                            {{ form.medical_certificate }}
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="health_insurance_card">Credencial Obra Social:</label>
                            {{ form.health_insurance_card }}
                        </div>
                        <br>
                        <button class="btn btn-outline-light mt-2 mb-5 w-100" id="upload_certificate_button" type="submit">
                            <b>Subir</b>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <p class="text-center">Por favor, <a href="{% url 'login' %}">inicia sesión</a> para subir certificados.</p>
    {% endif %}
{% endblock %}
