{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main class="form-signin w-100 m-auto">
  
  <form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 28em;">
      <div class="card-body">
        <h5 class="card-title">Iniciar sesión</h5>
        {{ form | crispy }}
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-lg btn-primary mb-2" type="submit" style="background-color: #6e4e8b; border-color: #6e4e8b; width: 100%;">Iniciar Sesión</button>
        </div>
        <a href="{% url 'register' %}" class="btn btn-sm btn-primary mb-2" style="background-color: #6e4e8b; border-color: #6e4e8b;">Registrarse</a>
        <a href="{% url 'password_reset' %}" class="d-block text-center btn-sm" style="color: #6e4e8b;">¿Olvidaste tu contraseña?</a>
        
        <!-- <a href="{% url 'home' %}" class="btn btn-link">Inicio</a> -->
      </div>
    </div>
  
  </form>
  
</main>
{% endblock %}