{% autoescape off %}

Hola {{ user.get_username }},

Recibimos una solicitud para restablecer tu contraseña.

No te preocupes, puedes crear una nueva contraseña fácilmente en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no solicitaste este cambio, puedes ignorar este correo electrónico. Tu contraseña actual seguirá siendo segura.

¡Esperamos verte pronto en nuestras clases!

Un cordial saludo,<br>
El equipo de {{ site_name }}

{% endautoescape %}

