{% extends "admin/base_site.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Panel Administrador Hipocampo</a></h1>
{% endblock %}

{% block nav-global %}
<div class="nav-global">
    <ul>
        {% if user.is_authenticated %}
        <ol><a href="{% url 'gestion_archivos_staff' %}" class="button" style="background-color: rgb(240, 240, 162);color: black;">Gestión de Archivos</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<div id="content" class="colMS">
    <h1>Sitio administrativo</h1>
    <div id="content-main"></div>
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>Acciones recientes</h2>
            <h3>Mis acciones</h3>
            <ul class="actionlist">
                <li class="addlink">...</li>
                <li class="changelink">...</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
