{% extends "admin/base_site.html" %}
{% block content %}

<div>
    <form method="post" action="{% url 'admin_download_media' %}">
        {% csrf_token %}
        <button type="submit">Descargar carpeta MEDIA</button>
    </form>
</div>

<br>

<div>
    <form method="post" action="{% url 'admin_delete_media' %}">
        {% csrf_token %}
        <button type="submit">Eliminar contenido de MEDIA</button>
    </form>
</div>

<br>

<div>
    <a href="{% url 'listar_imagenes' %}"><button>Listado de Imágenes</button></a>
</div>

<br>

{% endblock %}

