body{
    background-color: #6e4e8b;
    background-image: url(./imagenes/ondas.png);
}

header{
   height: 100px;
  color: white;
 font-size: 25px;
/*  background-color: #6e4e8b; amarillo #e3d827 */
}

#botonera{
    color: white;
}

a.nav-link{
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.block{

    background-color: rgba(223, 223, 221, 0.4);
    border-radius: 20px;
}

.elegir_alumno{
    background-color: #e3d827;
}

.titulo_ins_colonia{
    color: white;
}

.navbar-toggler {
    border-color: #e3d827; /* Cambia el color del borde del botón */
    background-color: #e3d827;
    
}

.nav-fondo{
    background-color: #6e4e8b;
}